*{
   padding: 0;
   margin: 0;
   font-family: sans-serif; 
}
body{
    background: url(./buydog.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
.RF{
    position: absolute;
    top: 6%;
    left: 10%;
    width: 350px;
    transform: translate3d(-60%, -60%);

}
.RF h1{
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin :40px 0;

}
.RF p{
    font-size: 20px;
    margin: 15px 0;
   
}
.RF input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius:5px ;
    outline: none;
}
.RF button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;

}
.RF button:hover{
    color: chartreuse;
}
.hed h1 {
    position: absolute;
    font-size: 75px;
    font-weight: bold;
    top: 200px;
    width: 450px;
    left: 1050px;
    line-height: 100px;
}
.hed button{
    position:absolute;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 5px;
    width: 10%;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    left: 1050px;
    top: 550px;
}
.hed button:hover{
    color: chartreuse;
}
.bu1{
    position: absolute;
    top: 30px;
    left: 50px;
}
.but1:hover{
    color: chartreuse;
    text-decoration: underline;

}
.but1 a:hover{
    color: #fff;
}